@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

p {
    margin-block: 20px;
}

.accent {
    background-color: var(--accent);
    color: var(--accent)
}

.text.accent {
    font-weight: bold;
    background-color: initial;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    line-height: 100%;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    // width: 75px;
    text-align: center;
}

