:root {
    --background: #fff;
    --text: #333;
    --bg: #eee; 
    --accent-rgb: 223, 107, 242;
    --accent: #b42574;
}

:root.dark {
    --background: #333;
    --text: #ccc;
    --bg: #1f1f1f; 
    --accent-rgb: 223, 107, 242;
}

:root[data-color-theme = magenta] {
    --accent: #b42574;
}

:root[data-color-theme = green] {
    --accent: #36c576;
}