:root {
    --background: #fff;
    --text: #333;
    --bg: #eee; 
    --accent: #b42574;
    --accent-rgb: 180, 37, 116;
}

:root.dark {
    --background: #333;
    --text: #ccc;
    --bg: #1f1f1f; 
}

:root[data-color-theme = magenta] {
    --accent: #b42574;
    --accent-rgb: 180, 37, 116;
}

:root[data-color-theme = green] {
    --accent: #36c576;
    --accent-rgb: 54, 197, 118;
}

$media: (
    small: 640px,
    medium: 830px,
    medium-large: 1200px,
    large: 1400px,
);

@mixin media($breakpoint) {
    @each $breakpoints, $size in $media {
        @if $breakpoint==$breakpoints {
            @media screen and (max-width: $size) {
                @content;
            }
        }
    }
}