.cv-download {
    z-index: 2;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px 20px;
    background: none;
    cursor: pointer;
    position: relative;
    transition: color 0.2s 0.1s;
    margin-left: 0;
    text-align: center;
    overflow: hidden;
    user-select: none;
    &::after {
        content: '\21E9';
        transform: rotateX(90deg);
    }
    &::before {
        content: '';
        width: 120%;
        left: -20px;
        top: 0;
        height: 110%;
        position: absolute;
        background-color: var(--accent);
        transform: translateX(calc(-100% + 20px));
        z-index: -1;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
        transition: 0.5s;
    }
    &:hover {
        &::before {
            transform: translateX(10%);
        }
        color: white;
    }
}