.form {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: center;
    background-color: var(--background);
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(var(--accent-rgb), .1);
    
    label {
        margin-block: 25px 10px;
        align-self: flex-start;
        width: 100%;
        max-width: 500px;
        margin-inline: auto;
    }

    input {
        height: 50px;
    }

    input, textarea {
        background-color: var(--bg);
        border: none;
        border-radius: 5px;
        width: 100%;
        max-width: 500px;
        resize: none;
        padding: 10px;
        box-shadow: 0 8px 8px rgba(var(--accent-rgb), .1);

        &:focus-visible {
            outline: 1px solid var(--accent);
        }
    }

    textarea {
        min-height: 150px;
    }

    .submit {
        margin-top: 25px;
        padding: 20px 40px;
        background-color: var(--accent);
        border-radius: 10px;
        border: 2px solid transparent;
        font-weight: bold;
        color: aliceblue !important;
        overflow: hidden;

        &:hover {
            border: 2px solid var(--accent);
            color: var(--accent) !important;
        }
        &::after {
            content: '';
        }
        &::before {
            background-color: var(--bg);
        }
    }
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgba(var(--accent-rgb), .3) inset !important;
}

.form-thanks-container {
    display: none;
    z-index: 3;
    width: 400px;
    height: 200px;
    position: absolute;
    inset: 0;
    margin: auto;
    transform: translateY(-50%);
    background-color: rgba(var(--accent-rgb), .8);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: .2s;

    p {
        color: #fff;
    }

    .dismiss {
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
    }

    &.leave {
        transform: translateY(100%) scale(2);
        opacity: 0;
    }
}

.full-overlay {
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: .5;
}

.form-deco {
    h1 {
        font-size: 3.5em;
        color: var(--accent);
    }
    h2 {
        text-transform: none;
        font-size: 2.5em;
    }
    .small-icon-card {
        position: relative;
        margin-inline: auto;
        transition: .1s;
        box-shadow: 0 0 4px var(--accent);

        a:hover {
            text-decoration: underline;
        }
    }
    & > div  {
        margin-top: 100px;
        display: flex;
        align-items: center;

        .icon.abs {
            width: 100px;
            height: 100px;
            transform: translate(25%, -50%);
            opacity: .6;
            animation-duration: 2s;
        }
    }

    svg {
        z-index: -1;
        position: absolute;
        top: 40%;
        animation: rot 36s linear infinite;
        max-width: 90vw;

        @keyframes rot {
            25% {
                transform: rotateZ(90deg) scale(1.5);
            }
            50% {
                transform: rotateZ(180deg);
            }
            75% {
                transform: rotateZ(270deg) scale(1.5);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        path {
            stroke: var(--accent);
            opacity: .2;
        }
    }
    
}