nav {
    z-index: 2;
    background-color: var(--background);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 200px);
    height: 80px;
    color: var(--text);
    margin-inline: 100px;
    margin-top: 20px;
    padding: 0 50px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: inset 0 0 4px rgb(0 0 0 / 0.5);
}
.nav-links {
    display: flex;
    a {
        width: unset;
    }
    a.current {
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 3px;
            background-color: var(--accent);
        }
    }
}
.logo {
    text-decoration: none;
    font-size: 2em;
    transition: .2s;
    span {
        transition: .3s;
        display: inline-block;
    }
    &:hover {
        transform: translateX(-10px);
        span {
            transform: scale(1.5);
            &:last-child {
                transform: scale(1.5) translateX(7.5px) rotate(360deg);
            }
        }
    } 
}
.nav-others {
    display: flex;
    align-items: center;
    * {
        margin: 0 20px;
    }
}

.wrapper {
    width: 150px;
    padding: 3px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#theme-switch {
    margin: 0 initial;
    background: url('/assets/sun-svgrepo-com.svg');
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    transition: 0.2s;
    cursor: pointer;
}
#color-switch {
    margin: 0 initial;
    background: url('/assets/sun-svgrepo-com.svg');
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    background: unset;
    background-color: var(--accent);
}
#theme-switch.dark {
    background: url('/assets/moon-svgrepo-com.svg');
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    // width: 75px;
    text-align: center;
}
.animated-link:hover .animated-text {
    transform: translateY(calc(-100% - 5px));
}
.animated-link {
    width: 100%;
}
.animated-text {
    display: inline-block;
    position: relative;
}
.animated-text::after {
    color: var(--accent);
    content: attr(data-text);
    position: absolute;
    bottom: calc(-100% - 5px);
    left: 0;
}

@for $i from 0 through 20 {
    a:hover .animated-text.letter-#{$i} {
        transition-delay: (0s + 0.05 * $i);
        transition-duration: 0.25s
    }
}