@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 100%;
}

:root {
    --background: #fff;
    --text: #333;
    --accent: #DF6BF2;
    --accent-rgb: 223, 107, 242;
}
body {
    margin: 0;
    font-size: 16px;
}

p {
    margin-block: 10px;
}

.accent {
    background-color: var(--accent);
    color: var(--accent)
}
.text.accent {
    font-weight: bold;
    background-color: initial;
}